<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="https://www.shaicohen.net/s/CV_SHAI-COHEN-KADOSH.pdf">CV</a></li>
	        	
	    		</ul>
			</nav>
			<div class="container">
			
				<li><a href="https://www.shaicohen.net">PRESS HERE</a></li>
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:scohen64@gmail.com">email</a></li>
	        		<li><a href="https://shai-cohen.github.io/">github.com/shai-cohen</a></li>
				</ul>
			</footer>
		</body>
	</html>
